<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.1.dtd">
<suite name="API Test Suite">
    <test name="Positive Tests" parallel="methods" thread-count="6">
        <classes>
            <class name="tests.PositiveAPITests">
                <methods>
                    <include name="createEntityTest"/>
                    <include name="updateEntityTest"/>
                    <include name="deleteEntityTest"/>
                    <include name="getEntityTest"/>
                    <include name="getAllEntitiesTest"/>
                    <include name="getAllEntitiesWithRandomParamsTest"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Negative Tests" parallel="methods" thread-count="4">
        <classes>
            <class name="tests.NegativeAPITests">
                <methods>
                    <include name="deleteNonExistentEntityTest"/>
                    <include name="getNonExistentEntityTest"/>
                    <include name="updateNonExistentEntityTest"/>
                    <include name="createEntityWithInvalidDataTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
